@charset "UTF-8";

$tp_white:#fefdf6;
$tp_pink:#f4afb3;
$tp_pink_message:#EF8585;


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
	}


body{
background:url(../img/dot.gif) top left;
}


body#top{
	background: none;
}
.wrap {
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

h2{
	text-align: center;
}
h3{
	text-align: center;
}
h6{
	font-size: 129%;
	color: $tp_pink_message;
}


#mg_box{
	width: 950px;
	height: 85px;
	margin: 0 auto;
	background: #fff;
}
.s1 {
	padding-top: 60px;
}
.s2 {
	padding-top: 60px;
}
.s3 {
	padding-top: 60px;
}

/*
===================================================================
header
===================================================================
*/
#header_wrap{
	background: #fff;
	#header {
	position: relative;
	width: 950px;
	text-align: center;
	margin: 0 auto;
	padding-top: 43px;
	background: #fff;
		.fb-like{
			position: absolute;
			top:29px;
			right: 25px;
		}
		ol{
			position: absolute;
			top:20px;
			right:20px;
			li{
				float: left;
				margin-left: 10px;
			}
		}
		h1{
			width: 950px;
			margin-bottom: 38px;
			display: block;
		}
		.section {
			width: 100%;
			max-width: 1600px;
			min-width: 950px;
			z-index: 10;
			position: relative;
			margin: 0 auto;
			padding: 0 ;
		}
	}		
}
body#top #header_wrap #header .section {
padding: 0;	
}


/*menu*/

nav {
	width: 688px;
	li{
	display:inline-block;
	margin-left:2px;
	padding:3px; 
	background:#eee;
		a{
		text-decoration:none;
		color:#333;
		}
	}
	span{
		background: url(../img/menu_bg.gif) no-repeat left;
		height:9px;
		display:block;
		position:relative;
		width:145px;
		left:0;
	}
}
/* Example One */


#example-one { 
	margin: 0 auto; 
	list-style: none; 
	position: relative; 
	width: 950px;
	li{
		display: inline-block;
		margin-right: 19px;
		a{
			float: left;
			padding: 6px 0px 0px 0px;
			text-decoration: none;
			text-transform: uppercase;
		}
		a:hover{
			color: white; 
		}
	}
	li.lastChild{
		margin-right: 0;
	}
	#toplink {
		padding: 0;
		margin: 0;
		display: none;
	}
}
body#top #example-one{
padding-left: 0;
}
#magic-line { 
	position: absolute;
	bottom: -3px; 
	left: 0; 
	width: 100px; 
	height: 9px; 
	background: url(/_shared/img/menu_bg.gif);
}
.current_page_item a { 
	color: white !important; 
}
.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}

/*
===================================================================
トップページ
===================================================================
*/





#top_contents {
	background: #fff;
	#contents{
		padding-top: 40px;
		width: 840px;
		ul#top_menu {
		margin-bottom: 45px;
		background:url(../../img/top_menu_bg.gif) repeat-y left top;
			li{
				float: left;
				padding-left: 1px;
			}
		}
	}


	#top_left{
		float: left;
		width: 522px;
		padding-left: 25px;
		padding-right: 15px;
		margin-bottom: 50px;
		
		.scroll-pane{
			width: 522px;
			height: 300px;
			overflow:auto;

			dl {
 				width:500px;
				}
			dt {
				float:left;
				clear:left;
				width:80px;
				margin-bottom: 22px;
				line-height: 1.6em;
			}
			dd {
				padding-left: 10px;
				float:left;
				width:410px;
				margin-bottom: 22px;
				line-height: 1.6em;
				a{
					color: #595757;
				}
			}
		}
	}
	#top_right{
		float: right;
		width: 225px;
		margin-bottom: 50px;
		padding-left: 18px;
		padding-right: 34px;
		#fb_box{
			border: 1px solid $tp_pink_message;
			width: 225px;
			margin-bottom: 10px;
		}
	}
	ul#sponsor{
		width: 773px;
		margin: 0 auto;
		padding-right: 5px;
		li.ttl_sponsor{
		margin-top: 0;
		}
		li{
		float: left;
		margin-right: 14px;
		margin-top: 19px;
		}
		li.umano{
			margin-top: 9px;
		}
		li.lastChild{
			margin-right: 0;
		}
	}
  	
}


/*
===================================================================
contents
===================================================================
*/


body#message　#contents{

}

#contents {
width: 950px;
margin: 0 auto;
padding-bottom: 30px;
background: #fff;
}


/*プロモーション------------------------------------------*/
#promotion_wrap{
	background: #fff;
	width: 950px;
	height: 405px;
	margin: 0 auto;
#promotion {
	width: 950px;
	margin: 0 auto;
	background: #fff;
	#owl-demo .item img{
		display: block;
		width: 100%;
		height: auto;
	}
}
}

/*コンテンツ内------------------------------------------*/

/*ローカルメニュー------------------------------------------*/


.inner {
	a.subNavBtn {
		background: url(../img/menu_local.gif) no-repeat;
		display: block;
		height: 30px;
		float: left;
		margin: 0px;
		text-align: center;
		text-indent: -9999px;
		border-right: 1px solid $tp_pink;
	}
}
.local_about{
	width: 950px;
	margin: 0 auto;
	ul{
		padding-left: 128px;
	}
	#sTop{
	display: none;
	}
	#s1 {
	border-left: 1px solid $tp_pink;
	width: 174px;
	background-position:0px 0px;
	}
	#s2 {
	width: 174px;
	background-position:-174px 0px;
	}
	#s3 {
	width: 174px;
	background-position:-348px 0px;
	}
	#s4 {
	width: 166px;
	background-position:-522px 0px;
	}
	#s1:hover{
		background-position: 0px -30px;
	}
	#s2:hover{
		background-position:-174px -30px;
	}
	#s3:hover{
		background-position:-348px -30px;
	}
	#s4:hover{
		background-position:-522px -30px;
	}
	li#s1_li .active{
		background-position: 0px -30px;
	}
	li#s2_li .active{
		background-position:-174px -30px;
	}
	li#s3_li .active{
		background-position:-348px -30px;
	}
	li#s4_li .active{
		background-position:-522px -30px;
	}
}
.local_activity{
	width: 950px;
	margin: 0 auto;
	ul{
		padding-left: 212px;
	}
	#sTop{
	display: none;
	}
	#s4 {
	border-left: 1px solid $tp_pink;
	width: 174px;
	background-position:0px -60px;
	}
	#s5 {
	width: 174px;
	background-position:-174px -60px;
	}
	#s3 {
	width: 174px;
	background-position:-348px -60px;
	}
	#s4:hover{
		background-position: 0px -90px;
	}
	#s5:hover{
		background-position:-174px -90px;
	}
	#s3:hover{
		background-position:-348px -90px;
	}
	li#s4_li .active{
		background-position: 0px -90px;
	}
	li#s5_li .active{
		background-position:-174px -90px;
	}
	li#s3_li .active{
		background-position:-348px -90px;
	}
}

.local_medical{
	width: 607px;
	width: 950px;
	margin: 0 auto;
	ul{
		padding-left: 171px;
	}
	#sTop{
	display: none;
	}
	#s1 {
	border-left: 1px solid $tp_pink;
	width: 201px;
	background-position:0px -120px;
	}
	#s2 {
	width: 203px;
	background-position:-201px -120px;
	}
	#s3 {
	width: 199px;
	background-position:-404px -120px;
	}
	#s1:hover{
		background-position: 0px -150px;
	}
	#s2:hover{
		background-position:-201px -150px;
	}
	#s3:hover{
		background-position:-404px -150px;
	}
	li#s1_li .active{
		background-position: 0px -150px;
	}
	li#s2_li .active{
		background-position:-201px -150px;
	}
	li#s3_li .active{
		background-position:-404px -150px;
	}

}
.subMenu .local_medical li#s3_li .active_message{
	background-position:-404px -150px;
}
/*aboutus------------------------------------------*/

#aboutus02,#aboutus03{
	width: 688px;
	margin: 0 auto;
}


table.profile_table{
	margin-bottom:75px; 
	th{
		vertical-align: top;
	}
	td{
		padding-left: 26px;
	}
}
#aboutus03 dl{
	width:688px;
	margin-bottom: 100px;
	dt{
		float:left;
		clear:left;
		width:88px;
		margin-bottom: 16px
	}
	dd {
		float:left;
		width:600px;
		margin-bottom: 16px;
	}
}




/*3つの活動------------------------------------------*/

#activity01,#activity03{
	width: 688px;
	margin: 0 auto;
	#kaigi{
	margin-bottom: 25px;	
	}
	.kaigi_l{
		float: left;
		width: 441px;
		padding-right: 23px;
	}
	.kaigi_r{
		float: right;
		width: 224px;
	}
	table#jikai{
		background: url(../../activity/img/next_middle.gif) repeat-y;
		margin-bottom: 20px;
		td{
			padding-left: 25px;
			padding-right: 25px;
		}
		td.lastChild{
			padding-left: 0;
			padding-top: 25px;
			padding-right: 25px;

		}
		td p.nitiji{
			margin-top: 25px;
			background: url(../../activity/img/tabledot.gif) repeat-y right;
			padding-right: 20px;
		}
	}

}

#activity02{
	width: 688px;
	margin: 0 auto;
	ul{
		li{
			width: 333px;
			float: left;
		}
		li.firstChild{
			padding-right: 6px;
			border-right: dotted 1px #000; 

		}
		li.lastChild{
			padding-left: 15px;

		}
	}
}

/*検診にいこう------------------------------------------*/
#medical_wrap01 {
	margin-top: 75px;
}

#medical_wrap01,#medical_wrap02 {
	width: 706px;
	margin: 0 auto;
	ul{
		margin-bottom: 60px;
		li{
			list-style: none;
			text-indent:-1em;
		}
	}
}
.pickup_wrap{
	margin-bottom: 50px;
	img{
		float: right;
	}
	span{
		color: $tp_pink_message;
	}
}

.pink_txt{
	color:$tp_pink_message;
}




/*700万人検診にいこう------------------------------------------*/
#kanshin_wrap{
	text-align: center;
	position: relative;
	h3{
		margin-bottom: 5px;
	}
	#sns_wrap {
		position: absolute;
		top: 31px;
		right: 43px;
		.fb-like{
			margin-right: 10px;
		}
	}

}
#message_wrap{
	width: 745px;
	margin: 0 auto;
	padding-left: 1px;
	background: url(../img/message_box_bg.gif) repeat-y left top;
	.message_gyo{
		background: url(../img/message_box_line.gif) no-repeat left bottom;
		padding-bottom: 21px;
		margin-bottom: 20px;
		.message_box{
			width: 208px;
			margin-left: 20px;
			margin-right: 20px;
			float: left;
			
			
			.img_prof {
				text-align: center;
				margin-bottom: 16px;
				height: 167px;
				position: relative;
				span{
					position: absolute;
					top:-10px;
				}
			}
			h5{
				text-align: center;
				font-size: 122%;
				color:$tp_pink_message;
				letter-spacing: 0.3em;
			}
			span{
				display: block;
				text-align: center;
				font-size: 92%;
				line-height: 1.3em;
				margin-bottom: 15px;
				color:$tp_pink_message;
				letter-spacing: 0.3em;
			}
			p{
				line-height: 1.7em;
			}
		}
	}
}

p.message_txt {
	margin:20px auto;
	width: 745px;
	text-align: right; 
}

/*啓発イベント------------------------------------------*/

#event_wrap{
	width: 687px;
	margin: 0 auto;
	h4{
		font-size: 136%;
		color:#59c3e1;
		text-align: center;
	}
}

.member_wrap{
	width: 688px;
}

.member_wrap_02{
	width: 516px;
}
.member_wrap_single{
	width: 172px;
}

.even_table {
	width:597px;
	margin: 40px auto 20px;
	th{
		padding-right: 54px;
		padding-bottom: 37px;
	}
	td{
		padding-bottom: 37px;
	}
}

#event_wrap {
	.member_wrap,.member_wrap_02,.member_wrap_single {
		margin: 0 auto;
		ul{
			li{
				float: left;
				width: 146px;
				margin-left: 13px;
				margin-right: 13px;
				text-align: center;
				margin-bottom: 50px;
				img{
					margin-bottom: 15px;
				}
				p{
					font-size: 107%;
				}
				p.katagaki{
					font-size: 92%;
					line-height: 1.5em;
					margin-bottom: 0px;
				}
			}
		}
	}
	#event_sponsor {
		p{
			text-indent:-0.5em;
		}
	}
}


ul#event_bnr_wrap01{
margin-bottom: 14px;
}
ul#event_bnr_wrap02{
margin-bottom: 9px;
}
ul#event_bnr_wrap03{
margin-bottom: 25px;
}

ul#event_bnr_wrap01,
ul#event_bnr_wrap02,
ul#event_bnr_wrap03 {
	li{
		float: left;
	}
}
p.koen a{
color: #595757;

}
p.koen a:hover{
	text-decoration: none;
}

/*入会について------------------------------------------*/


.nyuukai {
	img {
		float: right;
		vertical-align: bottom;
	}
	span{
		color: $tp_pink_message;
		border-bottom: 1px dotted $tp_pink_message;
	}
	table{
		width: 638px;
	}
}
#addmission_wrap {
	width: 638px;
	margin: 0 auto;
}

/*プライバシーポリシー	------------------------------------------*/
#privacy_wrap {
	margin: 0 auto;
	width: 694px;
	h3{
		margin-bottom: 70px;
	}
	h4{
		color:$tp_pink_message;
		margin-bottom: 5px;
	}
}




/*トップに戻る------------------------------------------*/



/* SNSタブ------------------------------------------*/



/*
===================================================================
footer
===================================================================
*/
#footer_wrap{
background: #fff;
	#footer {
		width: 950px;
		background: url(../img/foot_line.gif) repeat-x top left #fff;
		margin: 0 auto ;
		overflow: hidden;
	    position: relative;
		ul{
			margin-top: 40px;
			margin-bottom: 15px;
			list-style: none outside none;
			float: left;
			padding: 0;
			position: relative;
			left: 50%;
			li{
				float: left;
				padding-left: 20px;
				padding-right: 20px;
				position: relative;
				font-size: 92%;
				left: -50%;
				a{
					color:#595757;
				}
			}
		}
		p.copy{
			text-align: center;
			font-size: 77%;
			margin-bottom: 40px;
		}
	}
}
















/*
===================================================================
おまけ
===================================================================
*/


#page-top {
    bottom: 20px;
    font-size: 77%;
    position: fixed;
    right: 100px;
    z-index: 10000;
    a{
		text-align: center;
		text-decoration: none;

		img{
			opacity:0.2;
			filter: alpha(opacity=20);
			-ms-filter: "alpha( opacity=20 )";
		}
    }
}




































